src/META-INF/wsdl/localhost_8080/ConcessionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.soast.candlelabs.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.soast.candlelabs.com/">

<xs:element name="createConcession" type="tns:createConcession"/>

<xs:element name="createConcessionResponse" type="tns:createConcessionResponse"/>

<xs:element name="deleteConcession" type="tns:deleteConcession"/>

<xs:element name="deleteConcessionResponse" type="tns:deleteConcessionResponse"/>

<xs:element name="listConcession" type="tns:listConcession"/>

<xs:element name="listConcessionResponse" type="tns:listConcessionResponse"/>

<xs:complexType name="listConcession">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listConcessionResponse">
<xs:sequence>
<xs:element name="return" type="tns:concession" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="concession">
<xs:sequence>
<xs:element name="concessionType" type="xs:string" minOccurs="0"/>
<xs:element name="expeditionDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="expeditionPlace" type="xs:string" minOccurs="0"/>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="licensePlate" type="xs:string" minOccurs="0"/>
<xs:element name="person" type="tns:person" minOccurs="0"/>
<xs:element name="town" type="xs:string" minOccurs="0"/>
<xs:element name="unitType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cellphone" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nacionality" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rfc" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteConcession">
<xs:sequence>
<xs:element name="idConcession" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteConcessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createConcession">
<xs:sequence>
<xs:element name="idPerson" type="xs:long" minOccurs="0"/>
<xs:element name="town" type="xs:string" minOccurs="0"/>
<xs:element name="concessionType" type="xs:string" minOccurs="0"/>
<xs:element name="expeditionDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="expeditionPlace" type="xs:string" minOccurs="0"/>
<xs:element name="unitType" type="xs:string" minOccurs="0"/>
<xs:element name="licensePlate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createConcessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>