src/META-INF/wsdl/104.131.66.159_8080/PersonWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.soast.candlelabs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.soast.candlelabs.com/" name="PersonWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.soast.candlelabs.com/" schemaLocation="http://104.131.66.159:8080/PersonWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"/>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"/>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"/>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"/>
</message>
<message name="listPersons">
<part name="parameters" element="tns:listPersons"/>
</message>
<message name="listPersonsResponse">
<part name="parameters" element="tns:listPersonsResponse"/>
</message>
<portType name="PersonWS">
<operation name="createPerson">
<input wsam:Action="http://webservice.soast.candlelabs.com/PersonWS/createPersonRequest" message="tns:createPerson"/>
<output wsam:Action="http://webservice.soast.candlelabs.com/PersonWS/createPersonResponse" message="tns:createPersonResponse"/>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://webservice.soast.candlelabs.com/PersonWS/deletePersonRequest" message="tns:deletePerson"/>
<output wsam:Action="http://webservice.soast.candlelabs.com/PersonWS/deletePersonResponse" message="tns:deletePersonResponse"/>
</operation>
<operation name="listPersons">
<input wsam:Action="http://webservice.soast.candlelabs.com/PersonWS/listPersonsRequest" message="tns:listPersons"/>
<output wsam:Action="http://webservice.soast.candlelabs.com/PersonWS/listPersonsResponse" message="tns:listPersonsResponse"/>
</operation>
</portType>
<binding name="PersonWSPortBinding" type="tns:PersonWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonWS">
<port name="PersonWSPort" binding="tns:PersonWSPortBinding">
<soap:address location="http://104.131.66.159:8080/PersonWS"/>
</port>
</service>
</definitions>